<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% load staticfiles %}
<link href="{% static 'css/prettify.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/prettify.js' %}"></script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/lol.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/sunburst.css' %}" rel="stylesheet">
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" {% block onload %}{% endblock %}>
<div id="wrap">
<!-- Container -->
{% load tags %}
    <!-- Header -->
    <div id="header">
        <div class="container">
            <div class="masthead">
              <div class="navbar">
                <div class="navbar-inner">
                  <div class="container">
                    <ul class="nav">
                      <li class="{% block active_random %}{% endblock %}"><a href="{% url index %}">Random LoL</a></li>
                      <li class="{% block active_top %}{% endblock %}"><a href="{% url top 10 %}">Top 10</a></li>
                      <li class="{% block active_upload %}{% endblock %}"><a href="{% url upload %}">Add Yours!</a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- /.navbar -->
            </div>
        
            <div id="branding">
            {% block branding %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}

         
    </div>
    <div id="push"></div>
</div>
</div>
    <!-- END Content -->

    {% block footer %}
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span5">
                    <small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative <br>Commons Attribution 3.0 United States License</a>.</small>
                </div>
                <div class="span1 offset6">
                    <nobr><small><a href="mailto:contact@leetorlame.com">Contact Us</a></small></nobr>
                </div>
            </div>
        </div>
    </div>{% endblock %}

<!-- END Container -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block eofjavascript %}{% endblock %}
{% if tracking_enabled %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ tracking_account }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
</body>
</html>
