{% extends "base.html" %}

{% load tags %}
{% load staticfiles %}

{% block title %} Top {{ limit }} Snippets {% endblock %}

{% block active_top %}active{% endblock %}
{% block onload %}onload="prettyPrint()"{% endblock %}

{% block eofjavascript %}

<script type="text/javascript" src="{% static 'js/lang-css.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-go.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-hs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-lisp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-scala.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-sql.js' %}"></script>

{% endblock %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1>
</div>
{% endblock %}

{% block content %}
<div class="container"> 
    <ol>
    {% for snippet in top %}
    <div class="row-fluid">
        <div class="span7">  
            <li> 
                <div class="description">
                    <a href="{% url view snippet.id %}">
                        {{ snippet.description}}&nbsp;&nbsp;({{ snippet.language.name}})
                    </a>
                    &nbsp;&nbsp;Leetness: {{ snippet.score }}
                </div>
                <pre class="prettyprint"><code class="{{ snippet.language.language_class}}">{{ snippet.code|tenlines }}</code>
                </pre>
            </li>
        </div>
    </div>
    {% endfor %}
    </ol>
</div>
{% endblock %}

