{% extends "base.html" %}

{% block title %}Add yours!{% endblock %}
{% load staticfiles %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1>
</div>
{% endblock %}

{% block active_upload %}active{% endblock %}

{% block content %}

{% if error_message %}
<div class="container">
    <div class="row">
	<div class="span3"></div>
        <div class="span7">
	    <div class="alert">
	      <a href="#" class="close" data-dismiss="alert">&times;</a>
	      <strong>{{ error_message_title }}</strong> {{ error_message }}
	    </div>
	</div>
    </div>
</div>
{% endif %}

<form action="{% url upload %}" method="post" class="form-horizontal">
{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container">
        <div class="row">
            <div class="span1"></div>
            <div class="span9">
                <div class="control-group {% if form.description.errors %}error{% endif %}">
                    <label class="control-label" for="id_description">Description:</label>
                    <div class="controls">
			{{ form.description }}
			{% if form.description.errors %}
			<span class="help-inline">{{ form.description.errors }}</span>
			{% endif %}
		    </div>
                </div>
                <div class="control-group {% if form.inputCode.errors %}error{% endif %}">
                    <label class="control-label" for="inputCode">Code:</label>
		    <div class="controls">
			{{ form.inputCode }}
                        <div class="lineCounter">You have <span id="counter">25</span> lines left.</div>
			{% if form.inputCode.errors %}
			<span class="help-inline">{{ form.inputCode.errors }}</span>
			{% endif %}
		    </div>
                </div>
                <div class="control-group {% if form.language.errors %}error{% endif %}">
		    <label class="control-label" for="language_id">Language:</label>
                    <div class="controls">
			{{ form.language }}
			{% if form.language.errors %}
			<span class="help-inline">{{ form.language.errors }}</span>
			{% endif %}
                    </div>
		</div>
		<div class="control-group {% if form.gist_id.errors %}error{% endif %}">
			<label class="control-label" for="gistId">Import gist by id:</label>
			<div class="controls">
			    {{ form.gist_id }}
			    <button type='button' id="import_gist">Import</button>
			    {% if form.gist_id.errors %}
			    <span class="help-inline">{{ form.gist_id.errors }}</span>
			    {% endif %}
			</div>
		</div>
            </div>
        </div>
        <div class="row">    
            <div class="span1 center">
                <input type="submit" value="Submit"/>
            </div>
        </div>
    </div>
</form>

{% endblock %}



{% block eofjavascript %}
<!-- Textarea count from https://bitbucket.org/MostThingsWeb/textarea-line-count/wiki/Home -->
<script type="text/javascript" src="{% static 'js/jquery.TextareaLineCount.1.4.1.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#import_gist').click(function(){ 
        code_box = $("textarea[name='inputCode']");
        description_box = $("input[name='description']");
        language_box = $("select[name='language']");
        gist_id = $("input[name='gist_id']").val();
        url = "https://api.github.com/gists/" + gist_id;
        $.ajax({ 
            url      : url, 
            dataType : 'jsonp', 
            timeout  : 10000,
            success: function(response) {
                if(response.data['description']){
                    description_box.val(response.data['description']);
                }
                for (file in response.data.files) {
                    if (response.data.files.hasOwnProperty(file)) {
                        var lang = response.data.files[file].language;
                        if(lang){
                            var value = $("select option").filter(function() {
                                  return $(this).text() === lang;
                            }).first().attr("value");
                            language_box.val(value);
                        }
                        code_box.val(response.data.files[file].content);
                    }
                }
            }
        }); 
    });
});

$(document).ready(function(){
    $('#id_inputCode').bind('input propertychange', monitorLines);
    monitorLines();
});

function monitorLines() {
    var result = $.countLines("#id_inputCode");
    if(result.actual == 1 && $('#id_inputCode').val() == '') {
	$('#counter').text(25);
    }
    else {
	$('#counter').text(25 - result.actual);
    }
}

</script>

{% endblock %}
