{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Leet or Lame{% endblock %}
{% block onload %}onload="prettyPrint()"{% endblock %}

{% block eofjavascript %}

<script type="text/javascript" src="{% static 'js/lang-css.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-go.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-hs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-lisp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-scala.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lang-sql.js' %}"></script>

{% endblock %}

{% block branding %}
<div class="mainHeader">
    <h1 id="site-name">Leet or Lame</h1> 
</div>
{% endblock %}
 
{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span7">  
            <div class="description">{{ snippet.description}}&nbsp;&nbsp;({{ snippet.language.name}})<br>
            Leetness: {{ snippet.score }}</div>
        </div>
        <div class="span1">
             <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this code!" data-count="none" data-dnt="true">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
     <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span8">
            <pre class="prettyprint"><code class="{{ snippet.language.language_class}}">{{ snippet.code }}</code>
            </pre>
        </div>
    </div>
</div>
{% endblock %}

